.sidebar-nav {
  position: fixed;
  top: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  background: var(--dark);
  z-index: 99;

  @media (max-width: 480px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    top: auto;
  }
}

.sidebar-nav::before {
  pointer-events: none;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  margin-left: -0.0625rem;
  width: 0.625rem;
  height: 100%;
  background: var(--shadow-vertical);
}

.sidebar {
  flex: 1;
  //height: 100%;
  width: 3.125rem;
  transition: all 0.5s var(--cubic-bezier);
  padding-top: 0.625rem;
  display: flex;
  flex-direction: column;
  margin: 0 0.625rem;
  overflow: hidden;
  transition: width 0.6s var(--cubic-bezier);
  @media (max-width: 480px) {
    flex-direction: row;
    width: auto;
    gap: 0.75rem;
    overflow: auto;
    margin: 0;
    padding-top: 0;
  }
}
.sidebar.active {
  width: 10.3125rem;
  @media (max-width: 480px) {
    width: auto;
  }
}
.sidebar.active .sidebar-title {
  opacity: 1;
  transform: translateX(-1.875rem);
}

.sidebar-install-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  @media (max-width: 768px) {
    bottom: 80px;
    right: 50%;
    transform: translateX(50%);
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.sidebar-head {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 480px) {
    display: none;
  }
}

.sidebar-head::before {
  pointer-events: none;
  --height: 0.625rem;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 100%;
  height: 0.625rem;
  background: var(--shadow-horizontal);
}

.sidebar-title {
  color: var(--white);
  white-space: nowrap;
  position: absolute;
  opacity: 0;
  padding-left: 1.875rem;
  transform: translateX(0);
  transition: opacity 0.3s var(--cubic-bezier), transform 0.6s var(--cubic-bezier);
  @media (any-hover) {
    &:hover .sidebar-menu-icon {
      color: var(--dark);
      background-color: var(--white);
    }
  }
}

.sidebar-title > * {
  display: block;
  color: var(--white);
  font-size: 1.375rem;
  padding: 9px;
  border-radius: 0.5rem;
  transition: color 0.3s var(--cubic-bezier), background-color 0.6s var(--cubic-bezier);
  * {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 0.75rem;
  @media (max-width: 480px) {
    flex-direction: row;
    align-items: center;
    overflow: auto;
    padding: 0.625rem;
    gap: 0.3125rem;
  }
}
.sidebar-list::-webkit-scrollbar {
  display: none;
}

.sidebar-item {
  position: relative;
  width: 100%;
  display: flex;
}

.sidebar-item + .sidebar-item-bottom {
  margin-top: auto;
  padding-top: 0.625rem;
  @media (max-width: 480px) {
    padding-top: 0;
    margin-top: 0;
  }
}

.sidebar-menu-button {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.375rem;
  height: 3.125rem;
  width: 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  transform: translate(0);
  &.active {
    .sidebar-burger {
      transform: rotate(90deg);
      span {
        &:first-child {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}

.sidebar-item-button {
  width: 100%;
  padding: 0;
  :deep(.button-content) {
    @media (max-width: 480px) {
      flex-direction: column;
      gap: 0;
      padding: 0.3125rem;
    }
  }
  :deep(.button-name) {
    @media (max-width: 480px) {
      font-size: 0.75rem;
    }
  }
  :deep(.button-icon) {
    @media (max-width: 480px) {
      line-height: 1;
      margin-bottom: 0.3125rem;
    }
  }
}

.sidebar-burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s var(--cubic-bezier);
  &:hover {
    span {
      background-color: var(--second);
    }
  }
  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 0.25rem;
    border-radius: 2.5rem;
    background-color: var(--dark);
    transition: all 0.3s var(--cubic-bezier);
    &:first-child {
      top: 20%;
    }
    &:nth-child(2) {
      width: 40%;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    &:last-child {
      top: 80%;
    }
  }
}
