.skeleton-holder {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: var(--dark-blue-20);
  pointer-events: none;
}

.skeleton-shadow {
  position: absolute;
  top: 0;
  transform: translateX(-120%);
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white-0) 0%, var(--dark-blue) 50%, var(--white-0) 100%);
  animation: loading 3s var(--cubic-bezier) infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
