.projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  margin-top: 1.25rem;
  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    gap: 0.625rem;
  }
  @media (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.projects-image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  &:deep(*) {
    border-radius: 0.5rem;
    display: block;
  }
}
