@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* deprecated */
  --red: red;
  --white: white;
  --global: #ffffff;
  --global-invert: #050c13;

  --main: rgb(14, 16, 17);
  --main-2: rgb(22, 26, 29);
  --main-3: #52616d;

  --second: #678299;

  --default-padding: 1rem;
  --default-radius: 1rem;
  --small-radius: 0.5rem;

  --cyanide: #77f8da;
  --cyanide-dark: #1b3831;
  /* deprecated */

  --main-color: 22, 26, 29;
  --main-color-dark: 18, 19, 22;
  --blue-color-dark: 43, 63, 77;

  --dark: rgb(var(--main-color));
  --dark-2: rgb(var(--main-color-dark));
  --dark-75: rgba(var(--main-color), 0.75);
  --dark-50: rgba(var(--main-color), 0.5);
  --dark-20: rgba(var(--main-color), 0.2);
  --dark-0: rgba(var(--main-color), 0);
  --dark-blue: rgb(var(--blue-color-dark));
  --dark-blue-75: rgba(var(--blue-color-dark), 0.75);
  --dark-blue-50: rgba(var(--blue-color-dark), 0.5);
  --dark-blue-20: rgba(var(--blue-color-dark), 0.2);

  --light: #00ffff;
  --white: white;
  --gray-light: #ebebeb;
  --gray-second: #b6b6b6;
  --shadow-horizontal: linear-gradient(180deg, var(--dark), var(--dark-0));
  --shadow-vertical: linear-gradient(90deg, var(--dark), var(--dark-0));
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--global);
  height: 100svh;
  /*overflow: hidden;*/
}
#__nuxt {
  height: 100%;
}

a {
  color: var(--global);
}
a:hover {
  text-decoration: none;
}

.page-leave-active,
.page-leave-to {
  position: absolute;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.wrapper {
  /*overflow: hidden;*/
  /*@media (min-width: 420px) {*/
  display: flex;
  /*height: 100%;*/
  /*}*/
  /*&:has(.sidebar.active) .main {
    padding-left: 166px; для левого меню
  }*/
}

.screen {
  position: relative;
  z-index: 1;
  height: 100%;
  /*padding: 1.25rem;*/
  color: var(--dark);
  /*background-color: var(--dark-blue);*/
  border-radius: 0.625rem;
  /*@media (max-width: 480px) {
    padding: 0.5rem;
  }*/
}
.screen::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 70%;
  height: 70%;
  background-color: var(--dark-blue-75);
  filter: blur(10rem);
  /*filter: blur(0.625rem);*/
  border-radius: 0.375rem;
}

.screen-inner {
  position: relative;
  color: var(--white);
  height: 100%;
  /*overflow: hidden;*/
}
.screen-inner > * {
  /*overflow: auto;*/
  height: 100%;
  padding: 0.625rem;
  @media (max-width: 480px) {
    padding-bottom: 4.375rem;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  /*padding: var(--default-padding);*/
  /*padding-left: 88px;  для левого меню*/
  /*background-color: var(--dark-2);*/
  transition: padding 0.6s ease;
  /*overflow: auto;*/
}
/*@media (max-width: 480px) {
  .main {
    --default-padding: 0.625rem;
  }
}*/
