.custom-cursor {
  position: relative;
  width: 25rem;
  height: 25rem;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  @media (max-width: 768px) {
    width: 12.5rem;
    height: 12.5rem;
  }
  @media (max-width: 480px) {
    width: 6.25rem;
    height: 6.25rem;
  }
  &::before {
    content: "";
    mix-blend-mode: difference;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--dark-blue);
    filter: blur(5rem);
  }
}
