.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: none;
  color: var(--dark);
  background-color: transparent;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  &::before {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;
    color: var(--dark);
    border-radius: 0.5rem;
    background-color: var(--white);
    border: 0.0625rem solid transparent;
    transition: all 0.3s ease;
  }
  &:hover {
    color: var(--dark);
    &::before {
      opacity: 1;
    }
    .button-name-text {
      transform: translateY(-100%) scale(0, 0);
      opacity: 0;
      &:last-child {
        transform: translateY(0);
        color: var(--dark);
        opacity: 1;
      }
    }
    .button-icon {
      transform: scale(1.15);
      color: var(--second);
    }
  }
  &:active {
    &::before {
      opacity: 1;
      //box-shadow: 0 -0.125rem 0 0.0625rem var(--dark) inset;
      transform: translateY(2px) scale(0.98);
    }
    .button-icon {
      transform: translateY(2px) scale(0.9);
    }
    .button-name {
      transform: translateY(2px);
    }
  }
  &.active {
    color: var(--dark);
    &::before {
      opacity: 1;
    }
  }
}
.button-content {
  display: flex;
  align-items: center;
  min-height: 3.125rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  padding-right: 1rem;
  padding-left: 1rem;
}
.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3.125rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  flex-shrink: 0;
  transform-origin: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.button-name {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  margin-left: 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
.button-name-text {
  display: block;
  position: relative;
  opacity: 1;
  z-index: 1;
  transform: translateY(0) scaleY(1);
  transition: all 0.3s ease;
  &:last-child {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(100%) scaleY(0);
  }
}
